.button {
  margin-top: 1rem;
  display: block;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(20, 186, 241);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

.button--wide {
  padding: 0.8rem 4.5rem;

  @include respond(tab-port) {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
  }
}
