.form {
  display: flex;
  flex-direction: column;

  &__group {
    width: 85%;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__label {
    margin-bottom: 0.8rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: #222;
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    display: block;
    border: 1px solid #ddd;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid red;
    }

    &::-webkit-input-placeholder {
      color: #bbb;
      font-style: italic;
    }
  }

  &__error {
    color: red;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
}
