.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  min-height: 80vh;

  .message {
    text-align: center;
    margin-top: 8rem;
    font-weight: 300;
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-height: 30rem;
  border: 1px solid #eee;
  border-radius: 0.6rem;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &--third {
    flex: 0 0 31%;
    @include respond(phone) {
      flex: 0 0 80%;
    }
  }

  &--quarter {
    flex: 0 0 23.5%;
    @include respond(phone) {
      flex: 0 0 46%;
    }
  }

  &__poster {
    cursor: pointer;
    width: 100%;
    height: 50%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__img-message {
    text-align: center;
    margin-top: 7rem;
    color: #555;
    font-weight: 200;
    font-size: 1.2rem;
  }

  &__heading {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    padding: 0 1rem;
  }

  &__info {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;

    span {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
    &--detail {
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  &__favorite {
    margin-bottom: 3rem;
  }

  &__icon {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: block;
  }
}
