// MAIN NAVIGATION
.main-navigation {
  font-size: 2rem;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  &__link:hover {
    color: #ddd;
  }

  .router-link-exact-active {
    border-bottom: 1px solid #fff;
  }
}

// SECONDARY NAVIGATION
.secondary-navigation {
  &__item {
    color: #555;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  
  .active {
    border-bottom: 1px solid #222;
    color: #000;
  }
}