.pagination {
  margin-top: auto;
  text-align: center;
  color: #bbb;

  &__info {
    color: #333;
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  .active {
    color: #000;
    cursor: pointer;
  }
}