.table {
  border-spacing: 0;
  width: 100%;
  text-align: left;

  &__head-row {
    background-color: #ddd;
  }

  tr {
    height: 3.5rem;
  }

  td,
  th {
    padding: 0 1rem;

    @include respond(phone) {
      padding: 0 0.5rem;
    }
    font-weight: 300;
    font-size: 1.4rem;
    vertical-align: middle;
    margin-top: 0.4rem;
  }

  &__poster {
    display: flex;
    align-items: center;

    .poster {
      width: 3rem;
      height: auto;
      display: inline-block;
      font-size: 0.4rem;
      text-align: center;
    }

    .movie-text {
      margin-left: 1rem;
    }
  }

  &__favorite {
    min-width: 15rem;
    text-align: right;

    @include respond(tab-port) {
      min-width: 4rem;
    }

    img {
      margin-left: auto;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .selectable {
    cursor: pointer;
  }
}
