// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  // <= 900px
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%;
  }
  // >= 1800px
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 = 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}
