.details {
  min-height: 100%;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  text-align: justify;

  @include respond(big-desktop) {
    max-width: 100rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  &__poster {
    flex: 0 0 30%;
    padding-right: 3rem;

    img {
      display: inline-block;
      width: 100%;
    }
    .message {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 10rem;
      background-color: #eee;
    }

    @include respond(phone) {
      padding: 0 6rem;

      img {
        width: 100%;
      }
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      padding: 1rem;
    }
  }

  &__heading {
    font-size: 2.9rem;
    font-weight: 600;

    @include respond(phone) {
      text-align: center;
    }

    &--year {
      font-size: 1.7rem;
      font-weight: 400;
      font-style: italic;
    }
  }

  &__plot {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
  }

  &__information {
    margin-bottom: 1rem;
    font-size: 1.4rem;

    &--bold {
      font-weight: bold;
    }
  }

  &__ratings {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.4rem;
  }

  &__ratings-text {
    display: block;
    text-align: center;
    font-weight: 700;
  }

  &__rating-icon {
    margin-top: 0.5rem;
    width: 1rem;
    height: 1rem;
  }

  &__rating {
    margin-top: 0.5rem;
    text-align: center;
    display: block;
    font-weight: 400;
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
  }

  &__icon-div {
    width: 15rem;
    margin-left: auto;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      width: 8rem;
      flex-direction: column;
    }
  }

  &__favorite {
    margin-right: 0.6rem;
  }

  &__icon {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: block;

    @include respond(tab-port) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__icon-text {
    font-size: 1.2rem;
    text-align: center;
  }
}
