.favorites {
  min-height: 100%;
  display: flex;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @include respond(big-desktop) {
    max-width: 100rem;
  }
}
