.home {
  min-height: 100%;
  display: flex;
  width: 80%;
  margin: 2rem auto;

  @include respond(big-desktop) {
    max-width: 100rem;
  }

  @include respond(phone) {
    flex-direction: column;
    width: 85%;
  }

  .filter {
    flex: 0 0 30%;

    @include respond(phone) {
      flex: 1;
    }
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @include respond(phone) {
      margin-top: 2rem;
    }
  }
}
