<template>
  <header class="header">
    <div class="header__content">
      <router-link to="/" class="logo">
        <img src="/logo.png" alt="logo" class="logo__img" />
      </router-link>
      <nav class="main-navigation">
        <ul class="main-navigation__list">
          <li class="main-navigation__item">
            <router-link
              exact
              :to="{ name: 'Home' }"
              class="main-navigation__link"
              >Home</router-link
            >
          </li>
          <li class="main-navigation__item">
            <router-link
              exact
              :to="{ name: 'Favorites' }"
              class="main-navigation__link"
              >Favorites</router-link
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {}
</script>
