<template>
  <div class="details">
    <div class="details__poster">
      <img
        v-if="movie.Poster && movie.Poster !== 'N/A'"
        :src="movie.Poster"
        alt="movie poster"
      />
      <p v-else class="message">No poster found.</p>
    </div>
    <div class="details__info">
      <h1 class="details__heading">
        {{ movie.Title
        }}<span class="details__heading--year"> ({{ movie.Year }})</span>
      </h1>
      <p class="details__plot">{{ movie.Plot }}</p>

      <p class="details__information">
        <span class="details__information--bold">Genre: </span>{{ movie.Genre }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Actors: </span
        >{{ movie.Actors }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Director: </span
        >{{ movie.Director }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Writers: </span
        >{{ movie.Writer }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Type: </span>{{ movie.Type }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Awards: </span
        >{{ movie.Awards }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Language: </span
        >{{ movie.Language }}
      </p>
      <p class="details__information">
        <span class="details__information--bold">Released: </span
        >{{ movie.Released }}
      </p>

      <div class="details__ratings">
        <div>
          <span class="details__ratings-text">IMDB Ratings</span>
          <span v-for="n in blackStars" :key="n">
            <img
              src="/star-solid.svg"
              alt="rating icon"
              class="details__rating-icon"
            />
          </span>
          <span v-for="n in whiteStars" :key="n + 10">
            <img
              src="/star-regular.svg"
              alt="rating icon"
              class="details__rating-icon"
            />
          </span>
          <span class="details__rating"> {{ movie.imdbRating }} / 10 </span>
        </div>
        <div class="details__votes">
          <span class="details__ratings-text">IMDB Votes</span>
          <span class="details__rating">
            {{ movie.imdbVotes }}
          </span>
        </div>
      </div>
      <div class="details__buttons">
        <button class="button button--wide" @click="onBack">
          &lt; Back
        </button>
        <div class="details__icon-div">
          <div class="details__favorite" @click="onFavorite">
            <img :src="image" alt="favorite icon" class="details__icon" />
          </div>
          <span class="details__icon-text"
            >Note: Add/Remove from favorites</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['id', 'movie'],
  computed: {
    ...mapGetters(['isFavorite']),
    // return img src for star icon
    image() {
      if (this.isFavorite(this.id)) {
        return '/star-solid.svg'
      } else {
        return '/star-regular.svg'
      }
    },
    // get number of solid star icons for ratings
    blackStars() {
      return Math.round(this.movie.imdbRating)
    },
    // get number of regular star icons for ratings
    whiteStars() {
      return 10 - Math.round(this.movie.imdbRating)
    }
  },
  methods: {
    onFavorite() {
      this.$store.dispatch('editFavorites', this.id)
    },
    onBack() {
      this.$router.back()
    }
  }
}
</script>
