<template>
  <div class="favorites">
    <nav class="secondary-navigation">
      <span
        @click="showComponent('grid')"
        class="secondary-navigation__item"
        :class="activeComponent === 'grid' ? 'active' : ''"
        >Grid</span
      >
      <span
        @click="showComponent('list')"
        class="secondary-navigation__item"
        :class="activeComponent === 'list' ? 'active' : ''"
        >List</span
      >
    </nav>
    <section class="grid-container">
      <h3 class="message" v-if="loading">
        Loading...
      </h3>
      <h3 class="message" v-else-if="error">
        {{ error }}
      </h3>
      <h3 class="message" v-else-if="!movies || movies.length === 0">
        No favorite movies found.
      </h3>
      <template v-else>
        <Grid
          v-if="activeComponent === 'grid'"
          :movies="movies"
          widthClass="card--quarter"
        />
        <List v-if="activeComponent === 'list'" :movies="movies" />
      </template>
    </section>
  </div>
</template>

<script>
import Grid from '@/components/Grid.vue'
import List from '@/components/List.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    Grid,
    List
  },
  data() {
    return {
      activeComponent: 'grid'
    }
  },
  computed: {
    ...mapGetters(['error', 'loading']),
    movies() {
      return this.$store.getters.favorites
    }
  },
  methods: {
    showComponent(component) {
      this.activeComponent = component
    }
  }
}
</script>
