<template>
  <div class="home">
    <section class="filter">
      <FilterMovies @search="onSearch" />
    </section>
    <main class="main">
      <nav class="secondary-navigation">
        <span
          @click="showComponent('grid')"
          class="secondary-navigation__item"
          :class="activeComponent === 'grid' ? 'active' : ''"
          >Grid</span
        >
        <span
          @click="showComponent('list')"
          class="secondary-navigation__item"
          :class="activeComponent === 'list' ? 'active' : ''"
          >List</span
        >
      </nav>
      <section class="grid-container">
        <h3 class="message" v-if="loading">
          Loading...
        </h3>
        <h3 class="message" v-else-if="error">
          {{ error }}
        </h3>
        <h3 class="message" v-else-if="!movies || movies.length === 0">
          Search for movies, series or episodes.
        </h3>
        <template v-else>
          <Grid
            v-if="activeComponent === 'grid'"
            :movies="movies"
            widthClass="card--third"/>
          <List v-if="activeComponent === 'list'" :movies="movies"/>
          <Pagination
        /></template>
      </section>
    </main>
  </div>
</template>

<script>
import FilterMovies from '@/components/FilterMovies.vue'
import Grid from '@/components/Grid.vue'
import List from '@/components/List.vue'
import Pagination from '@/components/Pagination.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    FilterMovies,
    Grid,
    List,
    Pagination
  },
  data() {
    return {
      activeComponent: 'grid'
    }
  },
  computed: {
    ...mapGetters(['movies', 'error', 'loading'])
  },
  methods: {
    showComponent(component) {
      this.activeComponent = component
    },
    onSearch(info) {
      const { title, year, type } = info
      this.$store.dispatch('fetchMovies', { title, year, type, page: 1 })
    }
  }
}
</script>
