.header {
  background-color: rgb(20, 186, 241);

  &__content {
    max-width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;

    @include respond(big-desktop) {
      max-width: 100rem;
    }
  }
}
