<template>
  <form class="form" v-if="!loading">
    <div class="form__group">
      <label for="title" class="form__label">Name/Title</label>
      <input
        type="text"
        id="title"
        v-model="enteredTitle"
        placeholder="Name/Title"
        class="form__input"
      />
      <p class="form__error" v-if="!valid">This field is required.</p>
    </div>
    <div class="form__group">
      <label for="year" class="form__label">Year</label>
      <input
        type="text"
        id="year"
        v-model="enteredYear"
        placeholder="Year"
        class="form__input"
      />
    </div>
    <div class="form__group">
      <label for="movie-type" class="form__label">Type</label>
      <input
        type="text"
        id="movie-type"
        v-model="enteredType"
        placeholder="Type"
        class="form__input"
      />
    </div>
    <div class="form__group">
      <button @click.prevent="onSearch" class="form__button button">
        Search
      </button>
    </div>
  </form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      enteredTitle: '',
      enteredYear: '',
      enteredType: '',
      valid: true
    }
  },
  computed: {
    ...mapGetters(['movies', 'error', 'loading'])
  },
  methods: {
    onSearch() {
      if (!this.enteredTitle) {
        this.valid = false
        return
      }
      this.valid = true
      // send info outside of component using 'search' event
      this.$emit('search', {
        title: this.enteredTitle,
        year: this.enteredYear,
        type: this.enteredType
      })
    }
  },
  // for validation purpose
  watch: {
    enteredTitle() {
      this.valid = this.enteredTitle ? true : false
    }
  }
}
</script>
