<template>
  <div class="grid">
    <template v-if="!loading">
      <Movie
        :widthClass="widthClass"
        :id="movie.imdbID"
        :img="movie.Poster"
        :title="movie.Title"
        :year="movie.Year"
        :type="movie.Type"
        v-for="movie in movies"
        :key="movie.imdbID"
      />
    </template>
    <template v-else>Loading.....</template>
  </div>
</template>

<script>
import Movie from '@/components/Movie.vue'
import { mapGetters } from 'vuex'

export default {
  props: ['movies', 'widthClass'],
  computed: {
    ...mapGetters(['loading', 'error'])
  },
  components: {
    Movie
  }
}
</script>
