<template>
  <table class="table">
    <tr class="table__head-row">
      <th class="table__cell">Name</th>
      <th>Year</th>
      <th>Type</th>
      <th></th>
    </tr>
    <tr v-for="movie in movies" :key="movie.imdbID" class="table__body-row">
      <td @click="goToDetails(movie.imdbID)" class="table__poster selectable">
        <img
          v-if="movie.Poster && movie.Poster !== 'N/A'"
          class="poster"
          :src="movie.Poster"
          alt="movie poster"
        />
        <span v-else class="poster">no poster</span>
        <span class="movie-text">{{ movie.Title }}</span>
      </td>
      <td @click="goToDetails(movie.imdbID)" class="selectable">
        {{ movie.Year }}
      </td>
      <td @click="goToDetails(movie.imdbID)" class="selectable">
        {{ movie.Type }}
      </td>
      <td class="table__favorite">
        <img
          @click="onFavorite(movie.imdbID)"
          v-if="isFavorite(movie.imdbID)"
          src="/star-solid.svg"
          alt="favorite icon"
          class="card__icon"
        />
        <img
          @click="onFavorite(movie.imdbID)"
          v-else
          src="/star-regular.svg"
          alt="favorite icon"
          class="card__icon"
        />
      </td>
    </tr>
  </table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['movies'],
  computed: {
    ...mapGetters(['isFavorite']),
    // create img src for star icon
    image() {
      if (this.isFavorite(this.id)) {
        return '/star-solid.svg'
      } else {
        return '/star-regular.svg'
      }
    }
  },
  methods: {
    onFavorite(id) {
      this.$store.dispatch('editFavorites', id)
    },
    goToDetails(id) {
      this.$router.push({ name: 'Details', params: { id } })
    }
  }
}
</script>
