<template>
  <div class="card" :class="widthClass">
    <div class="card__poster" @click="goToDetails">
      <img :src="img" alt="movie poster" v-if="img && img !== 'N/A'" />
      <p v-else class="card__img-message">No poster found.</p>
    </div>
    <h3 class="card__heading" @click="goToDetails">{{ title }}</h3>
    <div class="card__info" @click="goToDetails">
      <span
        >Year: <span class="card__info--detail">{{ year }}</span></span
      >
      <span
        >Type: <span class="card__info--detail">{{ type }}</span></span
      >
    </div>
    <div class="card__favorite" @click="onFavorite(id)">
      <img :src="image" alt="favorite icon" class="card__icon" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['id', 'img', 'title', 'year', 'type', 'widthClass'],
  computed: {
    ...mapGetters(['isFavorite']),
    // return img src for star icon
    image() {
      if (this.isFavorite(this.id)) {
        return '/star-solid.svg'
      } else {
        return '/star-regular.svg'
      }
    }
  },
  methods: {
    onFavorite(id) {
      this.$store.dispatch('editFavorites', id)
    },
    goToDetails() {
      this.$router.push({ name: 'Details', params: { id: this.id } })
    }
  }
}
</script>
