<template>
  <div class="pagination">
    <span
      class="pagination__prev"
      :class="{ active: prevActive }"
      @click="onPrev()"
      >&lt; Prev</span
    >
    <span class="pagination__info"> {{ from }} - {{ to }} of {{ count }}</span>
    <span
      class="pagination__next"
      :class="{ active: nextActive }"
      @click="onNext()"
      >Next &gt;</span
    >
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      perPage: 10
    }
  },
  computed: {
    ...mapGetters(['movies', 'count', 'type', 'title', 'year', 'page']),
    prevActive() {
      return this.page > 1
    },
    nextActive() {
      return this.page < this.pagesTotal
    },
    pagesTotal() {
      return Math.ceil(this.count / 10)
    },
    from() {
      return (this.page - 1) * this.perPage + 1
    },
    to() {
      return this.page * (this.count < this.perPage ? this.count : this.perPage)
    }
  },
  methods: {
    onPrev() {
      if (this.prevActive) {
        this.$store.dispatch('fetchMovies', {
          type: this.type,
          title: this.title,
          year: this.year,
          page: this.page - 1
        })
      }
    },
    onNext() {
      if (this.nextActive) {
        this.$store.dispatch('fetchMovies', {
          type: this.type,
          title: this.title,
          year: this.year,
          page: this.page + 1
        })
      }
    }
  }
}
</script>
