<template>
  <div id="app">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>
<script>
import Header from '@/components/layout/Header.vue'
import Footer from '@/components/layout/Footer.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>
<style lang="scss">
// import full css from scss folder (using BEM 7.1 architecture)
@import './scss/main.scss';
</style>
